.my-nav{
    background:#17A2B8 !important;
}

.nav-link{
    color: #ffffff !important;
}

.nav-item:hover{
    background: grey !important;
}

.nav-item {
    margin-right:30px;
}


.section-footer{
    background: #fff;
    padding-top:30px;
}

.footer-title{

    color:#555;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom:10px;
}

.footer-ul-bl li {
color:#17A2B8;
}

.footer-ul-bl li a{
    color:#555;
    font-size: 16px;
}



.footer-ul-bl {
    list-style-type: square !important; 
    font-size: 16px;
    
}

footer{
    background:#fff;
    border-top:1px solid #138496;
    color:#555;
    font-size: 16px;
    padding: 0px;
   margin:0px;
}

.footer-bottom{
    
    color:#fff;
    padding:25px;
}

.mail-header-bl{
   padding-top: 20px;
   padding-bottom: 20px;
}

.phone-header-bl{
    padding-top: 20px;
    padding-bottom: 20px;
}

.callback-header-bl{
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-top-r{
   background:#e2e6e9 !important;
   border-bottom-left-radius: 30px;
   box-shadow: 4px 4px #17a2b836;
}
.nav-top-r li:hover{
    background:none !important;
    
}

.nav-top-r a{
   
color:#444 !important;
font-size:15px;
text-decoration: underline !important;
}

.welcome-header-txt{
    font-weight: bolder;
    font-size: 18px;
    margin-top:10px;
    text-transform: uppercase;
    font-family: 'Pattaya', sans-serif;
}

body{
    background: #fff;
    color:#000;
    font-size:17px;
}


h1{
    font-family: sans-serif;
}


.page-content{
    margin-top: 50px;

}

.servise-title{
    font-size: 18px;
    font-weight: bold;
}


.advantages{
    background:#eff1f1;
    padding-bottom:50px
}

.footer-news-li{
    margin-bottom: 20px;
}

body > section.section-footer > div > div > div > ul{

    padding-left:20px;
}

.flist{
    padding-left:20px;

}

.fnlist{
    padding-left: 4px !important;
}

.fnlist li {
    font-size:16px;
    
}

.fnlist li a{
    color:#555;
}

#callus{
    background:#17A2B8;
    padding-top:40px;
    padding-bottom:40px;
}

.footer-news-li img{

  border:3px solid #17A2B8;
}

.servise-top{
    border:1px solid #17A2B8;
    padding: 10px;
    background: #eff1f1;
}

.servise-top:hover {
    background: #ffffff;
}

h1 {
    text-transform: uppercase;
}

.header-cont {
    background: #17a2b857;
}